body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  display: block;
  width: 100%;
  padding: 10px 40px;
  margin: auto;
}
li {
  display: block;
  width: 80%;
  padding: 10px 40px;
  font-size: 26px;
  font-family: arial;
  background-color: #eee;
  cursor: pointer;
}
li:nth-child(odd) {
  background-color: #ccc;
}
